body{
    background-color:#FAFAFA; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blur{
    -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}

.material_shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)}

.fixed-to-top{
    position:fixed;
    z-index:1000;
}

.main-color{
    color: #1565C0 !important;
}

.main-color-bg{
    background-color: #1565C0 !important;
}

.submenu{
    padding-right: 20px;
}

.navbar{
    padding:15px 1rem;
    background-color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

.logo{
    width:140px;
}

.nav-link{
    transition: ease-in-out 0.3s;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #1565C0 !important;
}

.navbar-light .navbar-nav .nav-link{
    color:#7E7E7E;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#1565C0;
}

.navbar-light .navbar-nav .show>.nav-link{
    color:#1565C0;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left:16px;
        padding-right:16px;
    }
}

.dropdown-menu{
    background-color:#FAFAFA;
    border:0;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.dropdown-item{
    font-weight: 300;
}

@media (min-width: 992px){
    .search-cancel{
        display: none;
    }
    #submit-search{
        display: none;
        margin-right:10px;  
    }
}

@media (max-width: 992px){
    .search-cancel{
        display: none;
    }
}







.btn-outline-primary{
    color:#1565C0;
    border-color: #1565C0;
}
.btn-outline-primary:hover{
    color:white;
    border-color: #1565C0;
    background: #1565C0;
}

.btn-outline-secondary{
    color:#a1a6ab;
    border-color: #a1a6ab;
}

.btn-outline-secondary:hover{
    color:white;
    background-color:#a1a6ab;
    border-color: #a1a6ab;
}

.main_1{
    margin-bottom: 60px;
    transition: 0.2s ease-in-out;
}

.main_2{
    position: relative;
}

@media (max-width:992px){
    .main_1{
        display: none;
    }
}

.main_1 .nav-link{
    border-radius: 0;
    background-color: white;
    font-size: 20px;
    font-weight: 300;
    color:#1565C0;
}

.main_1 .active.nav-link{
    background: #1565C0 !important;
}

.main_2 h1{
    text-align: center;
    font-weight: bold;
    color: #1565C0;
}

.main_2 h2{
    font-weight: 400;
}

@media(max-width:992px){
    .main_2 h1{
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px !important;
        padding-top: 40px;
    }
    .main_2 h2{
        text-align: center;
    }

    .main_2 .text-muted{
        font-weight: 400;
        text-align: center;
    }
}

.main_2 h1, h2, h3{
    padding-bottom: 40px; 
}
.main_2_sections{
    padding-bottom: 50px;
    transition: ease-in-out 0.5s;
}




.selection_hide{
    background-color: transparent !important;
    color: transparent !important;
    box-shadow: none !important;
}

@media (max-width:992px){
    h2{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}



.card-deck .card .card-body{
    text-align: center;
}

.card-deck .card .card-body .card-title{
    margin:0;
}
.card-deck .card{
    cursor: pointer;
}

#course_list{
    display: none;
}

.display_none{
    display: none;
}

.class_selection .list-group-item{
    border-radius: 3px !important;
    border: none !important;
    margin-bottom: 7px; 
    transition: 0.2s ease-in-out;
}

.class_selection .list-group-item:hover{
    color:white;
    background-color:#1565C0;
}

.dropdown-menu{
    z-index:2000;
}


@media (min-width: 576px){
    .teacher_list_main .col-sm {
    max-width: 33.333333333%;
    padding-bottom: 30px;
    }
}

.teacher_list_main .col-sm{
    padding-bottom: 30px;
}



.teacher_list_main img{
    width: 100px;
    padding-bottom: 15px;
}

.teacher_list_main .card{
    text-align: center;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.teacher_list_main .card:hover{
    border-bottom: 4px solid #1565C0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.teacher_list_main .card.active{
    border-bottom: 4px solid #1565C0;
}


#program_select{
    border: none;
    border-radius: 2px;
    -webkit-appearance: none;
    cursor: pointer;
}
#program_select:focus{
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.navbar-search{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #7E7E7E;
    border-radius: 0;
    transition: 0.2s ease-in-out;
}
.navbar-search:focus{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-bottom:2px solid #1565C0;
}

.main_1_nav_change{
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 10px !important;
}

.request_course{
    text-align: center;
}

.request_course_button{
    padding: .475rem 3.75rem;
    font-size: 20px;
    background: linear-gradient(217deg, #009DFF, #0062FF 70.71%);
    border:none;
}


@media (min-width: 576px){
    .trial_selection .col-sm {
    max-width: 33.333333333%;
    padding-bottom: 30px;
    }
}

.trial_selection .col-sm{
        text-align: center;
        border: none;
        border-radius: 2px;
        transition: 0.2s ease-in-out;
        cursor: pointer;
}

.trial_selection img{
    border-radius: 2px;
}

.trial_selection .card{
    text-align: center;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.trial_selection .card:hover{
    border-bottom: 4px solid #1565C0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.trial_selection .card.active{
    border-bottom: 4px solid #1565C0;
}
