body{
    background-color:#FAFAFA; 
}

.material_shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)
}

.fixed-to-top{
    position:fixed;
    z-index:1000;
}

.main-color{
    color: #1565C0 !important;
}

.main-color-bg{
    background-color: #1565C0 !important;
}

.secondary-color{
    
}

.submenu{
    padding-right: 20px;
}

.navbar{
    padding:15px 1rem;
    background-color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

.logo{
    width:140px;
}

.nav-link{
    transition: ease-in-out 0.3s;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #1565C0 !important;
}

.navbar-light .navbar-nav .nav-link{
    color:#7E7E7E;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#1565C0;
}

.navbar-light .navbar-nav .show>.nav-link{
    color:#1565C0;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left:16px;
        padding-right:16px;
    }
}

.dropdown-menu{
    background-color:#FAFAFA;
    border:0;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

@media (min-width: 992px){
    .search-cancel{
        display: none;
    }
    #submit-search{
        display: none;
        margin-right:10px;  
    }
}

@media (max-width: 992px){
    .search-cancel{
        display: none;
    }
}







.btn-outline-primary{
    color:#1565C0;
    border-color: #1565C0;
}
.btn-outline-primary:hover{
    color:white;
    border-color: #1565C0;
    background: #1565C0;
}

.btn-outline-secondary{
    color:#a1a6ab;
    border-color: #a1a6ab;
}

.btn-outline-secondary:hover{
    color:white;
    background-color:#a1a6ab;
    border-color: #a1a6ab;
}

.main_1{
    margin-bottom: 60px;
}

.main_2{
    position: relative;
}

@media (min-width:992px){
    .main_1 .nav-link{
        padding-top: 30px;
        padding-bottom: 30px; 
    }
}

@media (max-width:992px){
    .main_1{
        display: none;
    }
}

.main_1 .nav-link{
    border-radius: 0;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    color:#1565C0;
    border-left: 1px solid #a1a6ab;
}

.main_1 .active.nav-link{
    background: #1565C0 !important;
}

.main_2 h1{
    text-align: center;
    font-weight: bold;
    color: #1565C0;
}

@media(max-width:992px){
    .main_2 h1{
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px !important;
    }
}

.main_2 h1, h2, h3{
    padding-bottom: 40px; 
}
.main_2_sections{
    padding-bottom: 50px;
    transition: ease-in-out 0.5s;
}




.selection_hide{
    background-color: transparent !important;
    color: transparent !important;
    box-shadow: none !important;
}

@media (max-width:992px){
    h2{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}



.card-deck .card .card-body{
    text-align: center;
}

.card-deck .card .card-body .card-title{
    margin:0;
}
.card-deck .card{
    cursor: pointer;
}

#course_list{
    display: none;
}

.display_none{
    display: none;
}

.class_selection .list-group-item{
    border-radius: 3px !important;
    border: none !important;
    margin-bottom: 7px; 
    transition: 0.2s ease-in-out;
}

.class_selection .list-group-item:hover{
    color:white;
    background-color:#1565C0;
}

.dropdown-menu{
    z-index:2000;
}


@media (min-width: 576px){
    .teacher_list_main .col-sm {
    max-width: 33.333333333%;
    padding-bottom: 30px;
    }
}

.blur{
    -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}

.teacher_list_main img{
    width: 128px;
    padding-bottom: 15px;
}

.teacher_list_main .card{
    text-align: center;
}